h1{
  display: flex;
  justify-content: center;
  font-size: 50px;
  color:rgb(231, 163, 104);
  font-family: 'Itim', cursive;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Stoke', serif;
}

p{
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 20px;
  color:rgb(228, 209, 209);
  font-family: 'Itim', cursive;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Stoke', serif;
  color: rgb(236, 185, 170);
}
.para{
  display: flex;
  background-color: rgba(92, 23, 45, 0.537);
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 25px;
  margin-right: 25px;
  border: 2px solid rgba(231, 163, 104, 0.438);
  justify-content: center;
}

@media screen and (max-width: 350px) {
  h1{
    font-size: 30px;
  }
}