body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: #C04848; 
  background: -webkit-linear-gradient(to right, #480048, #C04848);  
  background: linear-gradient(to right, #480048, #C04848);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
